@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: #53848f;
  color: #fefefe;
}

.showcase {
  display: flex;
  width: 80%;
  margin: 2.1rem auto;
}

h3 {
  color: #1f30ad;
}

h1 {
  color: #000;
  display: flex;
  justify-content: center;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#refresh {
  color: #5b09c7;
  border: 2px solid;
  border-radius: 5px;
  width: 5rem;
  height: 5vh;
  transition: 0.5s ease-out;
}

#refresh:hover {
  transform: scale(0.85);
}

#refresh:active {
  background-color: #430675;
  color: white;
  border-color: #d40fc0;
}

.refresh {
  height: 5vh;
  margin-left: 2rem;
  border: 2px solid grey;
  cursor: pointer;
  margin-right: 10%;
}

.scores-headline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.scores-table {
  width: 80%;
  border-radius: 10px;
  border: 2px solid rgba(153, 242, 217, 0.3);
}

.scores-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.scores-list li {
  margin-bottom: 0.5rem;
  background-color: whitesmoke;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scores-list li:nth-child(odd) {
  background-color: rgb(67, 129, 148);
  color: #fefefe;
}

.scores-list li:nth-child(even) {
  background-color: rgb(3, 132, 172);
  color: #fefefe;
}

.new-score {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.new-score form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

form input {
  margin-bottom: 1.2rem;
  outline: none;
  background: #ffc0cb;
  border: none;
  height: 5vh;
  border-radius: 7px;
}

form input::placeholder {
  font-style: italic;
}

form button {
  cursor: pointer;
  border: 2px solid grey;
  height: 5vh;
}

#submitScore {
  color: #6108d4;
  border: 2px solid #d36c7d;
  border-radius: 5px;
  width: 5rem;
  height: 7vh;
  transition: 1s ease-out;
}

#submitScore:hover {
  transform: scale(0.95);
}

#submitScore:active {
  background-color: #ffc0cb;
  color: white;
  border-color: #d40f6b;
}
